* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  
}


.container {
  display: block;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  
}

@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/experience';
@import 'media';
