.portfolio {
  min-height: 750px;
  padding: 50px 0 20px 0;

  &__info_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line {
    margin-top: 23px;
  }
  &__block {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      &_item {
        display: flex; 
        justify-content: flex-start;
        align-items: center; 
        margin-right: 10px;
        margin-bottom: 20px; 
        transition: 0.5s;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgb(200, 200, 200);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        width: 100%; 
        position: relative;
        padding: 15px;
      }
      &_item:hover {
        transform: translateY(-5px); 
        box-shadow: 0 12px 15px rgba(221, 221, 221, 0.2); 
      }
      img {
      height: 250px; 
      object-fit: cover;
      border-radius: 8px;
      transition: transform 0.5s ease;
      }  
      img:hover {
        transform: scale(0.9); 
      }
      &_text {
        width: 100%; 
        padding: 0 25px;
        font-size: 16px; 
        line-height: 1.5; 
        img {
          margin-top: 15px;
          width: 35px;
          height: 35px;
        }
        &-title {
          font-size: 16px; 
          font-weight: 700; 
          margin-bottom: 8px;
          text-transform: uppercase; 
          letter-spacing: 1px; 
     
        }
        &-subtitle {
          text-align: justify;
          font-size: 14px; 
          margin-bottom: 15px; 

        }
        &-items {
          padding-left: 0px; 
          margin-top: 5px; 
          list-style-type: none; 
          display: flex;
          flex-wrap: wrap;
          gap: 10px 10px;
        }   
        &-item {
          font-size: 14px; 
          border: 1px solid rgb(200, 200, 200);;
          box-shadow: 0 2px 7px rgb(200, 200, 200);
          padding: 10px;
          text-align: center;
        }

    } 
  }
}